@model ES2_TP.Models.Talento

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Talento</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Preço p/ Hora
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.precoHora)
        </dd>
        <dt class = "col-sm-2">
            Horas de experiência
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.horasExperiencia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nome)
        </dd>
        <dt class = "col-sm-2">
            País
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pais)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.email)
        </dd>
        <dt class = "col-sm-2">
            Categoria
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Categoria.descricao)
        </dd>
        <dt class = "col-sm-2">
            Skill
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Skill.descricao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
