@model ES2_TP.Models.PropostasTrabalho

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PropostasTrabalho</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Anos de experiência
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnosExperiencia)
        </dd>
        <dt class = "col-sm-2">
            Total Horas Pedidas
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalHoras)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            Skill
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Skill.descricao)
        </dd>
        <dt class = "col-sm-2">
            Categoria
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Categoria.descricao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
